:root {
    --tile-size: 25vh;
}

.tile {
    background-color: var(--primary);
    color: var(--secondary);
    width: var(--tile-size);
    height: var(--tile-size);
    padding: 20px;
    margin: 20px;
    font-size: 2em;
    transition: 0.1s;
}

.tile:hover {
    background-color: var(--secondary);
    color: var(--primary);
    opacity: 1;
    transition: 0.3s;
    font-size: 2.3em;
}