.header {
    background-color: var(--primary);
    color: var(--secondary);
    text-transform: uppercase;
    font-size: calc(0.5 * var(--header-size));
    padding: calc(0.15 * var(--header-size));
}