:root {
    --primary: salmon;
    --secondary: papayawhip;
    --header-size: 50px;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:active {
    color: inherit;
    text-decoration: none;
}